name: build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: run build
        shell: cmd
        run: build.bat

      - name: run installer build
        shell: cmd
        run: installer/build.bat

      - name: upload installer artifacts
        uses: actions/upload-artifact@v4
        with:
          name: installer artifacts
          path: installer/dist/**
          retention-days: 7
