name: release-signify

on:
  workflow_dispatch:

jobs:
  release-signify:
    runs-on: ubuntu-latest
    steps:
      - name: prepare key
        env:
          AWGWC_SEC_BASE64: ${{ secrets.AWGWC_SEC_BASE64 }}
        run: |
          echo $AWGWC_SEC_BASE64 | base64 --decode > amneziawg-client-windows.sec

      - name: prepare signify
        run: |
          sudo apt update
          sudo apt install -y signify-openbsd

      - name: prepare files
        uses: robinraju/release-downloader@v1
        with:
          latest: true
          fileName: amneziawg-*.msi

      - name: run signify
        run: |
          b2sum -l 256 amneziawg-*.msi >> latest.lst
          signify-openbsd -S -e -x latest.sig -s amneziawg-windows-client.sec -m latest.lst
