name: sign-release

on:
  workflow_dispatch:

jobs:
  sign-release:
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: prepare sign
        env:
          SIGN_PFX_BASE64: ${{ secrets.SIGN_PFX_BASE64 }}
          SIGN_BAT_BASE64: ${{ secrets.SIGN_BAT_BASE64 }}
        run: |
          echo $SIGN_PFX_BASE64 | base64 --decode > sign.pfx
          echo $SIGN_BAT_BASE64 | base64 --decode > sign.bat
        shell: bash

      - name: prepare installer sign
        env:
          SIGN_PFX_BASE64: ${{ secrets.SIGN_PFX_BASE64 }}
          SIGN_BAT_BASE64: ${{ secrets.SIGN_BAT_BASE64 }}
        run: |
          echo $SIGN_PFX_BASE64 | base64 --decode > installer/sign.pfx
          echo $SIGN_BAT_BASE64 | base64 --decode > installer/sign.bat
        shell: bash

      - name: prepare signtool
        run: |
          $signtoolExe = Get-ChildItem "C:\Program Files (x86)\Windows Kits\10\bin" -Recurse -Filter x64/signtool.exe | Select-Object -First 1
          $signtoolPath = $signtoolExe.DirectoryName
          echo "Adding $signtoolPath to PATH"
          echo "$signtoolPath" >> $env:GITHUB_PATH
        shell: pwsh
  
      - name: run build
        run: build.bat
        shell: cmd

      - name: run installer build
        run: installer/build.bat
        shell: cmd

      - name: upload installer artifacts
        uses: actions/upload-artifact@v4
        with:
          name: installer artifacts
          path: installer/dist/**
          retention-days: 7
